
:root {
  --primary-white: #fff;
  --primary-black: #141414;
   --primary-light-orange: #ffaf42;
  --primary-orange: #ff8303;
  --primary-light-gray: #e0e0e0;
  --primary-gray: #4f4f4f;
  --primary-dark-gray: #2f2f2f;
}

/****NAVBAR****/
nav {
  z-index: 2; 
}

.nav-main {
  background-color: var(--primary-black) !important;  
}

/***MENU LINKS***/
nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
  outline: 0;  
  justify-content: center;
}

nav ul li {
  text-transform: uppercase;
  display: inline;
  justify-content: center; 
    
}

.navbar-nav>li>a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
}

.navbar-nav>li>a.active,
.navbar-nav>li>a:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav>li>a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
}

ul {
  list-style: none; 
}

/****HOME****/

.learn {
  text-align: center; 
}

.solutions {
  background-color: var(--primary-gray);
  text-align: center; 
  color: white; 
}

.solutions h1 {
  text-transform: uppercase;
}

.computer-sales {
  text-align: center;
}

.computer-sales h1{
  text-transform: uppercase;
  color: var(--primary-gray); 
}

.computer-sales p{
  color: var(--primary-gray); 
}

/****ABOUT****/

.about h1{
  text-transform: uppercase;
  text-align: center;
}

.about p{
  text-align: center;
}

.mission {
  background-color: var(--primary-light-gray); 
}

/****FOOTER****/

.footer {
  background-color: var(--primary-gray); 
  color: var(--primary-black); 
  font-weight: bold; 
}