
:root {
  --primary-white: #fff;
  --primary-black: #141414;
   --primary-light-orange: #ffaf42;
  --primary-orange: #ff8303;
  --primary-light-gray: #e0e0e0;
  --primary-gray: #4f4f4f;
  --primary-dark-gray: #2f2f2f;
}

/***HEADER***/
.header {
  background-color: rgba(224, 224, 224, 30%);
  color: var(--primary-black); 
  font-weight: bold;
  position: sticky;
  top: 0;
  /* background-image: url("../images/hero-bg.jpg"); */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}

.contact-info {
  position: right;
  color: var(--primary-black);  
  text-align: right;
  padding: 10px 10px 10px 0; 
}

.media-buttons {
  position: right; 
  text-align: right; 
  padding:2.5px 10px 10px 0; 
}

/****NAVBAR****/
nav {
  z-index: 2; 
}

.nav-main {
  background-color: var(--primary-black) !important;  
  text-align: center; 
}

/***MENU LINKS***/
nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
  outline: 0;  
  justify-content: center;
}

nav ul li {
  text-transform: uppercase;
  display: inline;
  justify-content: center; 
    
}

.navbar-nav>li>a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
}

.navbar-nav>li>a.active,
.navbar-nav>li>a:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav>li>a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
}

ul {
  list-style: none; 
}

/****HOME****/



.learn {
  text-align: center; 
}

.solutions {
  background-color: var(--primary-gray);
  text-align: center; 
  color: white; 
  padding: 15px 80px; 
}

.solutions h1 {
  text-transform: uppercase;
}

.computer-sales {
  text-align: center;
}

.computer-sales h1{
  text-transform: uppercase;
  color: var(--primary-gray); 
}

.computer-sales p{
  color: var(--primary-gray); 
}

/****ABOUT****/

.about h1{
  text-transform: uppercase;
  text-align: center;
}

.about p{
  text-align: center;
}

.mission {
  background-color: var(--primary-light-gray); 
  padding: 15px 80px; 
}

/****FOOTER****/

.footer {
  background-color: var(--primary-gray); 
  color: var(--primary-black); 
  font-weight: bold; 
}

.footer-socials {
 text-align: right;  
}