
:root {
  --primary-white: #fff;
  --primary-black: #141414;
  --primary-orange: #ff8303;
  --primary-light-orange: #ffaf42;
  --primary-gray: #4f4f4f;
  --primary-dark-gray: #2f2f2f;
  --primary-light-gray: #7e7e7e;
}

.nav-main {
  text-align: center;
  background-color: var(--primary-black); 
  color: var(--primary-white); 
}